<settings>
  <resolution>1024x768x32</resolution>
  <depth>16</depth>
  <fsaa>0</fsaa>
  <fullscreen>false</fullscreen>
  <vsync>true</vsync>
  <mipmaps>true</mipmaps>
  <fbo_size>1024x1024</fbo_size>
  <use_gl3>false</use_gl3>

  <disable_fbo>false</disable_fbo>
  <disable_shadowmapping>false</disable_shadowmapping>
  <disable_softparticles>false</disable_softparticles>
  <disable_npot_textures>false</disable_npot_textures>
  <disable_float_textures>false</disable_float_textures>
</settings>
